<h1>Search Crypto</h1>
<br/>

<%= form_with url: home_lookup_path do |f| %>
  <div class="row">
    <div class="col-md-2">
      <%= f.text_field :crypto_symbol, placeholder: 'Enter a symbol', class: "form-control" %>
      <%= f.submit "Smash here!", class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
<br/><br/>

<% if @coin && @coin.empty? %>
  <% if !@symbol.empty? %>
    <% flash[:notice] = @symbol + " not found\n" %>
  <% else %>
    <% flash[:notice] = "Please enter a valid symbol!" %>
  <% end %>
<% elsif @coin %>
  <%= render 'home/single_coin_info_panel' %>
<% end %>